.destiny1{
  background-image: url('destiny1.jpg');
  background-size: cover;
}
.fall{
  background-image: url(backdrop.jpg);
    background-size: cover;
    color: black;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    font-style: oblique;
}
.pastel{
    background-image: url(pastelmint.jpg);
    background-size: cover;
}


.destination {
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;   
}

.destination img {
  width: 100%;
  height: auto;
  border-radius: 20px;
  margin-bottom: 10px; 
}

.destination button {
  padding: 20px;
  background:blue;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

  header {
    color: black;
    text-align: center;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px;  
  }
  
  nav a {
    color: rgba(3, 0, 4, 0.93);
    text-decoration: none;
    font-weight: bold;
  }
  
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: orange;
    color: black;
    text-decoration: none;
    border-radius: 5px;
        margin-top: 30px;
  }
  
  section {
    padding: 40px 20px;
    margin: 20px 0;
  }
  
  section ul {
    padding-left: 20px;
  }
  
  form input {
    padding: 10px;
    margin-right: 10px;
    width: 250px;
    max-width: 100%;
  }
  
  form button {
    padding: 10px;
    background:grey;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    color:black;
    font-size: large;
  }
.contact{
  text-align: center;
  padding: 50px;
  background-color: aquamarine;
}
.contact input,
textarea{
  border-radius: 8px;
}
.contact button{
  background: orange;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}
.booking label {
  display: flex;
background-color: beige;
  padding: 5px 6px;
  border-radius: 8px;
 cursor: pointer;
}
.booking{
  background-image: url(blue.jpeg);
  background-size: cover;
}