.destiny1{
  background-image: url('destiny1.jpg');
  background-size: cover;
}
.destiny1 p{
  font-size: larger;
}
.pastel{
    background-image: url(pastelmint.jpg);
    background-size: cover;
}

.pastel h1{
  text-align: center;
}
.destination {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
align-items: center;
  gap: 10px;
}

.destiny{
  background-color: aliceblue;
  padding: 50px;
  width: 250px;}

.destination button {
  background-color: blue;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.form{
  padding: ;
}

.destination button:hover {
  background-color: #0056b3;
}



  header {
    color: black;
    text-align: center;
  }
  
  .navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:20px 25px;
    background-color: rgba(26, 23, 23, 0.801);
  }
  
  nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
  }
    nav a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
  }
  nav h1{
      
        color: aliceblue;
  }
  
  .cta-button {
    display: inline-block;
    padding: 10px 20px;
    background: orange;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 30px;
  }
  
  
  form input {
    padding: 10px;
    width: 250px;
  }
  
  form button {
    padding: 10px;
    background:grey;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  footer {
    text-align: center;
    color:black;
    font-size: large;
  }
.contact{
  text-align: center;
  padding: 50px;
  background-color: aquamarine;
}
.contact input,
textarea{
  border-radius: 8px;
}
.contact button{
  background: orange;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}
.booking label {
  font-size: larger;
  font-weight: bolder;
  display: flex;
  padding: 10px 10px;
  border-radius: 8px;
 cursor: pointer;
}
.booking{
  background-image: url(blue.jpeg);
  background-size: cover;
  padding: 30px 50px;;
}

.stat-group {
  display: flex;
  justify-content: center;      
  align-items: stretch;         
  gap: 40px;                   
  flex-wrap: nowrap;            
}
.hero1{
  text-align:center ;
}
.stats{
  text-align: center;
}
.fally{
  text-align: center;
  font-size: x-large;
}
.destination-options {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
  width: 100%; 
  max-width: 280px; 
}
.form{
  background-color: aliceblue;
border: 2px;
}


